.bg-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-sm-bg.png');
  background-size: cover;
  min-height: 100vh;
}
@media screen and (min-width: 768px) {
  .bg-container {
    background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-lg-bg.png');
  }
}

.heading-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo {
  width: 25px;
  height: 40px;
}
@media screen and (min-width: 768px) {
  .logo {
    width: 60px;
    height: 96px;
  }
}

.heading {
  color: #ffffff;
  font-family: 'Bree Serif';
  font-size: 36px;
  margin-left: 12px;
}
@media screen and (min-width: 768px) {
  .heading {
    font-size: 72px;
    margin-left: 16px;
  }
}

.team-data-container {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0px;
  justify-content: center;
  align-items: center;
  max-width: 800px;
  list-style-type: none;
}
